.left-menu {
  grid-area: menu;
  font-weight: bold;
  color: rgb(225, 225, 225);
}

.left-menu ul {
  list-style-type: none;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.left-menu li {
  margin-left: 50px;
}

.left-menu li:last-child {
  margin-top: calc(1.2em * 2);
}